In [1]:
import pandas as pd
import numpy as np

data = pd.read_csv('../data/pseoe_all.csv')
schools = pd.read_csv('../data/label_institution.csv')
degree = pd.read_csv('../data/label_degree_level.csv')

C:\Users\DanielPrestonMc\anaconda3\envs\dsi\lib\site-packages\IPython\core\interactiveshell.py:3165: DtypeWarning: Columns (4) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [2]:
data = data.drop(columns=['cip_level','cipcode','geography','geo_level','agg_level_pseo','inst_level'])

In [3]:
schools.rename(columns={'label':'school_name'}, inplace=True)
schools = schools.drop(columns=['inst_level'])

In [4]:
data = data.merge(degree, how='left', on='degree_level')
data = data.merge(schools, how='left', on='institution')

In [5]:
data.rename(columns={'label':'degree_type'}, inplace=True)
data.drop(columns=['statefips'], inplace=True)

In [6]:
status_cols = [col for col in data if col.startswith('status')]
data.drop(columns=status_cols, inplace=True)

In [7]:
new_order = ['institution', 'school_name', 'city', 'institution_state', 'degree_level', 'degree_type', 'grad_cohort', 'grad_cohort_years',
             'y1_p25_earnings', 'y1_p50_earnings', 'y1_p75_earnings', 'y1_grads_earn',
             'y5_p25_earnings', 'y5_p50_earnings', 'y5_p75_earnings', 'y5_grads_earn',
             'y10_p25_earnings', 'y10_p50_earnings', 'y10_p75_earnings', 'y10_grads_earn',
       'y1_ipeds_count', 'y5_ipeds_count', 'y10_ipeds_count']

In [8]:
data = data.reindex(columns=new_order)
clean_data = data.dropna()
clean_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 15544 entries, 0 to 100824
Data columns (total 23 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   institution        15544 non-null  int64
 1   school_name        15544 non-null  object
 2   city               15544 non-null  object
 3   institution_state  15544 non-null  object
 4   degree_level       15544 non-null  int64
 5   degree_type        15544 non-null  object
 6   grad_cohort        15544 non-null  int64
 7   grad_cohort_years  15544 non-null  int64
 8   y1_p25_earnings    15544 non-null  float64
 9   y1_p50_earnings    15544 non-null  float64
 10  y1_p75_earnings    15544 non-null  float64
 11  y1_grads_earn      15544 non-null  float64
 12  y5_p25_earnings    15544 non-null  float64
 13  y5_p50_earnings    15544 non-null  float64
 14  y5_p75_earnings    15544 non-null  float64
 15  y5_grads_earn      15544 non-null  float64
 16  y10_p25_earnings   15544 non-null  float64
 17  y10_p50_earnings   15544 non-null  float64
 18  y10_p75_earnings   15544 non-null  float64
 19  y10_grads_earn     15544 non-null  float64
 20  y1_ipeds_count     15544 non-null  float64
 21  y5_ipeds_count     15544 non-null  float64
 22  y10_ipeds_count    15544 non-null  float64
dtypes: float64(15), int64(4), object(4)
memory usage: 2.8+ MB

In [9]:
# clean_data.to_csv('../data/clean_data.csv', index=False)